.App {
  text-align: center;
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.current-song {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.text-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.album-container {
  height: 150px;
}

.album-container img {
  height: 100%;
}

.current-lyrics {
  padding: 0 15%;
  margin-top: 40px;
}
